$base-accent: #1a2b55;
$base-font-family: "Roboto", "RobotoFallback", "Noto Kufi Arabic", "Helvetica", "Arial", sans-serif;
$base-text-color: #000000de;
$base-label-color: #00000099;
$base-icon-color: #0000008a;
$base-spin-icon-color: #0000008a;
$base-bg: #ffffff;
$base-border-color: #e0e0e0;
$base-success: #8bc34a;
$base-warning: #ffc107;
$base-danger: #f44336;
$base-hover-color: #000000de;
$base-hover-bg: #0000000a;
$base-focus-color: #ffffff;
$base-focus-bg: #0000000a;
$base-link-color: #1a2b55;
$material-button-height: 28px;
$material-button-icon-size: 16px;
$material-button-icon-margin: 4px;
$base-border-radius: 2px;
$button-normal-color: #000000de;
$button-normal-selected-color: #000000de;
$button-normal-bg: #ffffff;
$button-normal-hover-bg: #ebebeb;
$button-normal-focused-bg: #ebebeb;
$button-normal-active-bg: #b3b3b3;
$button-normal-selected-bg: #d1d1d1;
$button-default-color: #ffffff;
$button-default-selected-color: #ffffff;
$button-default-bg: #1a2b55;
$button-default-hover-bg: #101a34;
$button-default-focused-bg: #101a34;
$button-default-active-bg: #030409;
$button-default-selected-bg: #030409;
$button-danger-color: #ffffff;
$button-danger-selected-color: #ffffff;
$button-danger-bg: #f44336;
$button-danger-hover-bg: #f11d0d;
$button-danger-focused-bg: #f11d0d;
$button-danger-active-bg: #bc160a;
$button-danger-selected-bg: #bc160a;
$button-success-color: #ffffff;
$button-success-selected-color: #ffffff;
$button-success-bg: #8bc34a;
$button-success-hover-bg: #75a938;
$button-success-focused-bg: #75a938;
$button-success-active-bg: #587f2a;
$button-success-selected-bg: #587f2a;
$list-group-color: #000000de;
$list-border-color: #e0e0e0;
$list-group-header-bg: transparent;
$list-normal-color: #000000de;
$list-expanded-group-color: #000000de;
$list-item-hover-bg: #0000000a;
$list-item-selected-bg: #0000001f;
$list-item-active-bg: #cccccc;
$fieldset-field-label-color: #00000099;
$scrollable-scroll-bg: #bfbfbfb3;
$splitter-resize-handle-color: #000000de;
$splitter-resize-handle-bg: #0000000a;
$splitter-resize-handle-bg-hover: #0000001f;
$splitter-resize-handle-bg-focused: #1a2b55;
$splitter-resize-handle-color-hover: #000000de;
$splitter-resize-handle-color-focused: #ffffff;
$switch-bg: #9e9e9e;
$switch-handle-off-bg: #fafafa;
$switch-on-bg: #1a2b5580;
$switch-handle-on-bg: #1a2b55;
$tabs-tab-color: #0000008a;
$tabs-tab-selected-color: #1a2b55;
$tabs-tab-disabled-color: #00000052;
$tabs-selected-tab-border-color: #1a2b55;
$tabs-disabled-tab-border-color: #00000021;
$tabs-tab-background: #ffffff;
$tabs-tab-icon-color: #0000008a;
$tabs-tab-icon-selected-color: #1a2b55;
$tabs-tab-icon-disabled-color: #00000052;
$tabs-hovered-tab-bg-color: #1a2b5514;
$tabs-focused-tab-bg-color: #1a2b551f;
$tabs-active-tab-bg-color: #1a2b5529;
$badge-color: #ffffff;
$badge-bg: #1a2b55;
$overlay-content-bg: #ffffff;
$overlay-shader-bg: #00000052;
$textbox-search-icon-color: #0000008a;
$texteditor-color: #000000de;
$texteditor-placeholder-color: #00000099;
$texteditor-bg: #0000000a;
$texteditor-focused-bg: #0000000a;
$texteditor-border-color: #0000006b;
$texteditor-hover-border-color: #000000de;
$texteditor-focused-border-color: #1a2b55;
$texteditor-hover-bg: #00000012;
$dropdowneditor-icon-active-color: #0000008a;
$calendar-navigator-text-color: #1a2b55;
$calendar-header-color: #000000de;
$calendar-cell-other-color: #00000061;
$calendar-cell-selected-bg: #1a2b55;
$load-indicator-segment-bg-color: #1a2b55;
$treeview-focused-bg: #0000000a;
$menu-color: #757575de;
$menu-item-selected-bg: #e0e0e0de;
$selectbox-list-bg: #ffffff;
$toolbar-bg: #ffffff;
$popup-title-bg: transparent;
$tileview-color: #000000de;
$toast-color: #ffffffde;
$toast-info-bg: #000000de;
$toast-warning-bg: #ffc107;
$toast-error-bg: #f44336;
$toast-success-bg: #8bc34a;
$progressbar-bg: #1a2b554d;
$progressbar-range-bg: #1a2b55;
$progressbar-label-color: #000000de;
$tooltip-color: #ffffff;
$tooltip-bg: #616161;
$material-slider-bar-bg: #1a2b553d;
$material-slider-bg: #1a2b55;
$material-slider-tooltip-color: #ffffff;
$gallery-indicator-bg: #ffffff;
$gallery-indicator-item-selected-bg: #1a2b55;
$gallery-indicator-focused-bg: #1a2b55;
$gallery-navbutton-hover-color: #1a2b55;
$gallery-navbutton-active-color: #1a2b55;
$loadpanel-content-bg: #ffffff;
$tagbox-tag-color: #00000099;
$tagbox-tag-bg: #e0e0e0;
$tagbox-tag-active-color: #000000de;
$tagbox-tag-button-remove-bg: #0000005c;
$accordion-title-color: #000000de;
$material-accordion-title-font-size: 13px;
$accordion-item-border-color: #e0e0e0;
$accordion-item-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
$material-accordion-item-opened-margin: 8px;
$colorbox-overlay-bg: #ffffff;
$datagrid-base-background-color: #ffffff;
$datagrid-columnchooser-item-color: #00000099;
$datagrid-columnchooser-font-weight: 500;
$datagrid-drag-header-border-color: #1a2b5580;
$datagrid-selection-bg: #1a2b550a;
$datagrid-row-selected-border-color: #e0e0e0;
$datagrid-row-selected-color: #000000de;
$datagrid-row-focused-color: #000000de;
$datagrid-row-focused-bg: #d1d5dd;
$datagrid-menu-icon-color: #5656568a;
$datagrid-cell-modified-border-color: #8bc34a52;
$datagrid-row-invalid-faded-border-color: #f4433652;
$datagrid-group-row-color: #0000008a;
$datagrid-group-row-bg: #ffffff;
$datagrid-search-color: #ffffff;
$datagrid-search-bg: #1a2b55;
$datagrid-row-error-color: #ffffff;
$datagrid-row-error-bg: #f88e86;
$datagrid-focused-border-color: #485577;
$datagrid-editor-bg: transparent;
$datagrid-row-alternation-bg: #f5f5f5;
$datagrid-summary-color: #000000b3;
$pager-page-selected-color: #ffffff;
$pager-page-selected-bg: #1a2b55;
$pivotgrid-area-color: #0000008a;
$pivotgrid-totalcolor: #dddddd33;
$pivotgrid-grandtotalcolor: #0000000a;
$pivotgrid-field-area-text-color: #0000004d;
$fileuploader-filename-color: #000000de;
$fileuploader-falename-status-color: #666666de;
$fileuploader-border-color: #e0e0e0;
$scheduler-base-border-color: #e0e0e0;
$scheduler-accent-border-color: #e0e0e0;
$scheduler-appointment-text-color: #ffffff;
$scheduler-appointment-base-color: #1a2b55;
$scheduler-appointment-start-color: #0000004d;
$scheduler-workspace-focused-cell-color: #1a2b551f;
$scheduler-first-month-border-color: #e0e0e0;
$scheduler-current-time-cell-color: #1a2b55;
$form-field-item-color: #00000099;
$form-group-border-color: #e0e0e0;
$filterbuilder-text-color: #000000de;
$filterbuilder-text-focus-color: #ffffff;
$filterbuilder-plus-icon-color: #8bc34ab3;
$filterbuilder-remove-icon-color: #f44336b3;
$filterbuilder-group-operation-color: #f443364d;
$filterbuilder-item-field-color: #1a2b554d;
$filterbuilder-item-operator-color: #8bc34a4d;
$filterbuilder-item-value-color: #e0e0e080;
$drawer-shader-background-color: #00000080;
