
.footer {
    display: block;
    color: rgba(black, alpha(black) * 0.7);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 20px;
    padding-bottom: 24px;
}

.footer a {
    color: #1a2b55;
    text-decoration: none;
    font-weight: 500;
}
